.contact {
  padding: 80px 10%;
  text-align: center;
  background: #f4f6f8;
}

.contact h2 {
  font-size: 40px;
  color: #1B4F72;
  margin-bottom: 20px;
}

.contact-text {
  color: #555;
  font-size: 18px;
  max-width: 650px;
  margin: auto;
  line-height: 1.6;
}


.contact-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}


.contact-card {
  background: white;
  padding: 30px 20px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}


.contact-card:hover {
  transform: translateY(-8px);
}


.contact-card svg {
  font-size: 35px;
  color: #38bdf8;
  margin-bottom: 15px;
}


.contact-card h3 {
  color: #1B4F72;
  margin-bottom: 10px;
}


.contact-card p {
  color: #555;
  word-break: break-word;
}


.contact-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}


.contact-btn,
.social-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}


.contact-btn {
  background: #1B4F72;
  color: white;
}


.social-btn {
  background: #38bdf8;
  color: white;
}


.contact-btn:hover,
.social-btn:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}


@media(max-width:768px){

  .contact {
    padding: 70px 6%;
  }

  .contact h2 {
    font-size: 32px;
  }

}