.navbar {
  background-color: #1B4F72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #F18F01;
}