.footer {
  background: linear-gradient(135deg, #0f172a, #1B4F72);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.footer h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer p {
  color: #dbeafe;
  margin: 10px 0;
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}


.footer-icons a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}


.footer-icons a:hover {
  color: #38bdf8;
  transform: translateY(-5px);
}


.copyright {
  margin-top: 20px;
  font-size: 15px;
}


@media(max-width:768px){

  .footer h3 {
    font-size: 24px;
  }

  .footer-icons a {
    font-size: 24px;
  }

}