.app {
  background-color: #ffffff;
  color: #222;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
}

.app.dark section,
.app.dark footer {
  background-color: #121212;
  color: #ffffff;
}